extends layout

block content
    section.main
        div.container
            form
                label Text input
                    input(type="text")
                label Password input
                    input(type="password")
                label Number input
                    input(type="number")
                label Number input
                    input(type="number")
                label Textarea
                    textarea(cols="20")
                label Dropdown
                    select
                        option(value="0") Hello
                        option(value="1") World
                        option(value="2") !!!!
                input(type="submit")