header
    div.container
        div.wrapper
            div.logo-block
                img(src="/images/camfil-logo.svg")
            div.cart-block
                a(href="#") My Orders
                    img(src="/images/shopping-cart.svg" height="38")
                    span 1
nav
    div.container
        ul
            li
                a.active(href='/') Home
            li
                a(href='#') Air Purifiers
            li
                a(href='/filters') Filter
            li
                a(href='/orders') My orders
        div.language-block
            select
                option(value="swedish") Svenska
                option(value="english") English
                option(value="danish") Rotvälska