extends layout

block content
    section(class="main")
        div.container
            div.slick-slider
                article
                    div.content-image
                        img(src="/images/series-m.png")
                    div.content-info
                        h1 Air Purifier CITY M
                        p Camfil Air Purifier CITY is typically Swedish. It is quiet, efficient, stylish and environmentally conscious. If you compare filter you will understand why CITY is the best air purifier for offices, schools and public places. It is also very easy to use. Just ”plug and play”. Within a few hours it reduces one million hazardous particles per cubic meter. CITY is simply the best investment you can make for healthier staff and safer customers.
                        a.button(href="#") Place an order
                article
                    div.content-image
                        img(src="/images/series-m.png")
                    div.content-info
                        h1 Air Purifier CITY M
                        p Camfil Air Purifier CITY is typically Swedish. It is quiet, efficient, stylish and environmentally conscious. If you compare filter you will understand why CITY is the best air purifier for offices, schools and public places. It is also very easy to use. Just ”plug and play”. Within a few hours it reduces one million hazardous particles per cubic meter. CITY is simply the best investment you can make for healthier staff and safer customers.
                        a.button(href="#") Place an order
                article
                    div.content-image
                        img(src="/images/series-m.png")
                    div.content-info
                        h1 Air Purifier CITY M
                        p Camfil Air Purifier CITY is typically Swedish. It is quiet, efficient, stylish and environmentally conscious. If you compare filter you will understand why CITY is the best air purifier for offices, schools and public places. It is also very easy to use. Just ”plug and play”. Within a few hours it reduces one million hazardous particles per cubic meter. CITY is simply the best investment you can make for healthier staff and safer customers.
                        a.button(href="#") Place an order
        div.modal
            div.modal-ear
                h2 Subscribe to the Camfil newsletter
            div.modal-body Subscribe
    section(class="cards")
        div.card
            div.card-content
                div.content-image
                    img(src="/images/series-m.png")
                div.content-info
                    p Let us come to you and analyse the quality of your air.
                        a(href="#") Read more
        div.card
            div.card-content
                div.content-image
                    img(src="/images/series-m.png")
                div.content-info
                    p Let us come to you and analyse the quality of your air.
                        a(href="#") Read more
        div.card
            div.card-content
                div.content-image
                    img(src="/images/series-m.png")
                div.content-info
                    p Let us come to you and analyse the quality of your air.
                        a(href="#") Read more
        div.card
            div.card-content
                div.content-image
                    img(src="/images/series-m.png")
                div.content-info
                    p Let us come to you and analyse the quality of your air. Let us come to you and analyse the quality of your air.
                        a(href="#") Read more
    footer
        div.container
            ul.footer-links
                li
                    a(href='#') Home
                li
                    a(href='#') City S Series
                li
                    a(href='#') City M Series
                li
                    a(href='#') 6000 Series
                li
                    a(href='#') 6000 Series
                li
                    a(href='#') 6000 Series
            ul.footer-social
                li
                    a(href='#') Facebook
                li
                    a(href='#') Twitter
            ul.footer-meta
                li
                    img.logo-block(src="/images/camfil-logo.svg")
                li
                    a(href='http://www.camfil.com') www.camfil.com
                li
                    a(href='mailto:info@camfil.com') info@camfil.com