doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,300,700")
  body
    include headerpartial
    block content
    script(src="/javascripts/bundle.js")