extends layout

block content
    include headerpartial

    section.main
        div.container
            div.order-info
                h1 My Orders
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque eget dui vel ullamcorper. Vestibulum tempor lobortis sodales. Cras condimentum varius sem et tempor. Etiam odio ipsum, finibus vitae magna non, condimentum porta elit. Praesent aliquet augue id mauris pretium ullamcorper. Morbi lobortis, neque nec consectetur viverra, nisl elit scelerisque risus, et vestibulum nisi massa auctor lorem. Phasellus dictum urna ac lorem tempor, a tincidunt ante pharetra. Sed eu mollis mauris.

